QTextEdit{
    background-color:#444444;
    padding:0 1em;
    background: linear-gradient(#ccc 1px, transparent 1px) #fffbf2;
    background-size: auto 2.5em;
    line-height: 2.5em;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
}